<mat-accordion *ngFor="let artist of artists" class="list-of-artists">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
          <mat-panel-title>
            {{artist.name}}
          </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-container *ngFor="let album of albums">
      <ng-container *ngIf="album.artistId == artist.id">
        <button class="list-of-albums" mat-button [matMenuTriggerFor]="menu">
          <img src="{{album.picture}}" class="album-picture" height="200px" width="200px">
          {{album.name}}
        </button>
      </ng-container>
      <mat-menu class="list-of-songs" #menu="matMenu">
        <ng-container *ngFor="let song of songs">
          <ng-container *ngIf="song.artistId == artist.id && song.albumId == album.id">
            <button  mat-menu-item>{{song.name}}</button> 
          </ng-container>
        </ng-container>
      </mat-menu>
    </ng-container>

    <!--<ul *ngFor="let album of artist['albums']" class="list-of-albums">-->
      <!--<li>{{album.title}}</li>-->
    <!--</ul>-->
  </mat-expansion-panel>
</mat-accordion>


<!--<ul>-->
  <!--<li *ngFor="let artist of artists" class="list-of-artists">-->
    <!--{{artist.name}}-->
    <!--<ul>-->
      <!--<li *ngFor="let album of artist['albums']" class="list-of-albums">{{album.title}}-->
        <!--<ul>-->
          <!--<li *ngFor="let song of album['songs']" class="list-of-songs">{{song.title}}</li>-->
        <!--</ul>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</li>-->
<!--</ul>-->
