<ng-container *ngFor="let song of songs" class="list-of-songs">
      <mat-card class="song-card" >
        <mat-card-content>
          <mat-card-title class="song-title">
          	<mat-icon [ngClass]="'play-arrow play-arrow-'+song.slug" (click)="playMusic(song.name);">play_arrow
          	</mat-icon>
          	<mat-icon [ngClass]="'pause pause-'+song.slug" (click)="pauseMusic(song.name);">pause
          	</mat-icon>
          	{{song.name}}
          </mat-card-title>
          <mat-card-subtitle>{{song.artistName}} • {{song.albumName}}
            <div class="card-spacer">
              <button mat-button [matMenuTriggerFor]="menuPlaylists">Add to playlist</button>
              <mat-menu #menuPlaylists="matMenu">
                <button mat-menu-item *ngFor="let playlist of playlists" (click)="pushToPlaylist(playlist.id, song.name)">{{playlist.name}}</button>
              </mat-menu>
            </div>
          </mat-card-subtitle>
        </mat-card-content>
      </mat-card>
</ng-container>
<div class="space-after-songs"></div>